/* @group fonts */

@font-face {
  font-family: "ambighue";
  src:url("../fonts/ambighue.eot");
  src:url("../fonts/ambighue.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ambighue.woff") format("woff"),
    url("../fonts/ambighue.ttf") format("truetype"),
    url("../fonts/ambighue.svg#ambighue") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("../fonts/opensans.woff") format("woff");
}

[data-icon]:before {
  font-family: "ambighue" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.light-selector.selected span:before{
  font-family: "ambighue" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bulb:before {
  content: "b";
}
.icon-signal:before {
  content: "a";
}
.icon-check-1:before,
.light-selector.selected span:before{
  content: "c";
}
.icon-cross:before {
  content: "d";
}
/* @end */

/* @group Structure */
body {
    background: #a0a9b0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
#app-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
}
#app-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #444;
}
#app-top{
    height: 50%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #444;
    transition: height 1s ease;
    background: #fff;
    color: #444;
}
.splash #app-top{
    height: 100%;
}
#logo-wrap{
    width: 200px;
    height: 120px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
#logo{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 3em;
    height: 100px;
    line-height: 102px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    -webkit-text-stroke: 1px rgba(68,68,68,0.2);
}
#logo:after{
    content:'';
    position: absolute;
    top: 0;
    left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: transparent url('../img/chromatique.png') center center no-repeat;
    background-size: 96px;
    z-index: -1;
    border: 1px solid rgba(68,68,68,0.2);
}
.splash #logo:after{
  -webkit-animation: rotating-function 5s linear infinite;
     -moz-animation: rotating-function 5s linear infinite;
      -ms-animation: rotating-function 5s linear infinite;
       -o-animation: rotating-function 5s linear infinite;
          animation: rotating-function 5s linear infinite;
}
.ambilighting #logo:after{
  -webkit-animation: rotating-function 15s linear infinite;
     -moz-animation: rotating-function 15s linear infinite;
      -ms-animation: rotating-function 15s linear infinite;
       -o-animation: rotating-function 15s linear infinite;
          animation: rotating-function 15s linear infinite;
}

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#tagline{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: rgba(102,102,102,0.8);
    font-weight: bold;
    font-size: 1.5em;
}
.splash #logo-wrap{
    top: 50%;
}
#messenger, #stage{
    position: absolute;
    bottom: -100%;
    text-align: center;
    -moz-transition: bottom 0.8s ease;
    -webkit-transition: bottom 0.8s ease;
    transition: bottom 0.8s ease;
    overflow: hidden;
}
#messenger{
        width: 100%;
}
#messenger.onStage{
    bottom: 15px;
}
#app-bottom{
    height: 50%;
    overflow: hidden;
    position: relative;
    transition: height 1s ease;
    color: #9a9a9a;
}
.splash #app-bottom{
    height: 0%;
}

#stage{
    padding: 5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#stage.onStage{
    bottom: 0;
}
.ambilighting #stage{
    height: 100%;
    padding: 0%;
    width: 100%;
}
/* @end */

/* @group steps */
.step-icon{
    width: 70px;
    height: 70px;
    line-height: 90px;
    border-radius: 100px;
    background: #9a9a9a;
    display: block;
    color: #444;
    font-size: 2.5em;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    transition: top 0.5s ease;
    transition: background-color 0.5s ease;
}
.loading .step-icon{
    top: 50%;
}
.errorState .step-icon{
    background-color: #FB797E;
}
.errorState .step-icon:before{
    content: 'd';
    color: #fff;
    font-size: 0.7em;
    margin-top: 23px;
    display: block;
}
#bridge-error, #lights-error, #createUserError{
    margin-top: 25%;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.loading #bridge-error, .loading #lights-error, .loading #createUserError{
    opacity: 0;
}

/* @end */

/* @group lights list */

#lightsList {
    height: 100%;
}
#lightsList ul{
    margin: 0 auto 10px;
    padding: 0;
    list-style: none;
    height: 75%;
    overflow: auto;
    display: block;
}
#lightsList li {
    border-bottom: 1px solid rgba(154, 154, 154, 0.2);
}
#lightsList li a{
    color: #9a9a9a;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}
#lightsList li span{
    display: block;
    float: right;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: background 0.5s ease;
}
#lightsList li a.selected span{
    border-color: #1ECD97;
    background: #1ECD97;
    color: #fff;
    font-size: 0.6em;
    position: relative;
}
.light-selector.selected span:before{
    margin: 3px 0 0 3px;
    display: block;
}
/* @end */

/* @group video stream */
#video-container{
    position: relative;
}
#camera-stream{
    width: 100%;
    position: relative;
    z-index: 2;
}
#video-container .btn{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -35px;
}
/* @end */

/* Button container */
.progress-button {
	position: relative;
	display: inline-block;
	text-align: center;
	width: 45%;
	min-width: 250px;
	margin: 20px;
}

/* Button style */
.progress-button button, .btn {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 180px;
	height: 45px;
    line-height: 45px;
    text-decoration: none;
	border: 2px solid #1ECD97;
	border-radius: 40px;
	background: transparent;
	color: #1ECD97;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:hover, .btn:hover {
	background-color: #1ECD97;
	color: #fff;
    cursor: pointer;
}

.progress-button button:focus, .btn:focus {
	outline: none;
}
.loading .loader {
    border: 3px solid #1ECD97;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    margin-top: -38px;
    margin-left: -38px;
}
@-moz-keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-moz-transform: scale(1.2, 1.2); opacity: 0.0;}
}
@-webkit-keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
@-keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

.hidden{
    display: none;
}